<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproject">

    <!-- Camera permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">

        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaration for ActivitySecond -->
        <activity
            android:name=".ActivitySecond"
            android:label="@string/page_2_title"
            tools:ignore="Instantiatable" />

        <!-- Declaration for ActivityThird -->
        <activity
            android:name=".activitythird"
            android:label="@string/page_3_title"
            tools:ignore="Instantiatable,WrongManifestParent" />

        <!-- Declaration for ActivityFourth -->
        <activity
            android:name=".activityfourth"
            android:label="@string/page_4_title"
            tools:ignore="Instantiatable,WrongManifestParent" />

        <!-- Declaration for ActivityFifth -->
        <activity
            android:name=".activityfifth"
            android:label="@string/page_5_title"
            tools:ignore="Instantiatable,WrongManifestParent" />

    </application>

</manifest>
